#section__about {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 3rem;
}

.about__profile {
  border-radius: 2rem;
  width: 25rem;
  height: 25rem;
}

.about__form {
  max-width: 40rem;
  h2 {
    text-align: right;
  }
  p {
    font-size: 1.2rem;
    margin-bottom: 3rem;
  }
}
