#project__1,
#project__2 {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  column-gap: 5.5rem;
  height: 100vh;
}

#section__develop > article {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 200vh;
}

.damn {
  position: absolute;
  z-index: 5;
  min-width: 100%;
  height: 100vh;
  opacity: 0.3;
}

.smartphone {
  position: relative;
  width: 300px;
  height: 480px;
  transform-style: preserve-3d;
  transform: rotateX(20deg) rotateY(-20deg);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3); /* 스마트폰 전체 그림자 */
}
.smartphone__wrapper {
  margin-top: -50px;
  position: relative;
  width: 300px;
  height: 520px;
  perspective: 1000px;
  z-index: 10;
}
.smartphone__wrapper:hover .smartphone {
  animation: spin 1s cubic-bezier(0.25, 0.8, 0.25, 1) forwards;
}
.smartphone__wrapper:hover .carousel img {
  transition: 1s all;
  filter: brightness(70%) blur(3px);
}
.smartphone__wrapper:hover .smartphone__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  z-index: 10000;
}

.title {
  width: 100%;
  text-align: center;
  transform: rotateX(20deg) rotateY(-30deg);
}

.smartphone {
  position: relative;
  width: 300px;
  height: 480px;
  transform-style: preserve-3d;
  transform: rotateX(20deg) rotateY(-20deg);
}

@keyframes spin {
  from {
    transform: rotateX(20deg) rotateY(-20deg);
  }
  to {
    transform: rotateX(20deg) rotateY(340deg); /* 2회전 시계방향 */
  }
}

.face {
  position: absolute;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); /* 각 면의 그림자 추가 */
}

.front,
.back {
  width: 300px;
  height: 480px;
  background: #1c1f2b;
}
.front {
  transform: translateZ(15px);
  background: #1c1f2b;
  border: 20px solid #1c1f2b;
  box-sizing: border-box;
  overflow: hidden;
}
.back {
  transform: translateZ(-15px);
  background: #1c1f2b;
}
.smartphone__footer {
  position: absolute;
  width: 100%;
  height: auto;
  margin-top: 410px;
  z-index: 20;
}
.smartphone__button {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
}
.smartphone__button button {
  font-size: 1.2rem;
  background-color: #1c1f2b;
  font-family: "Koulen";
}

.left,
.right {
  width: 30px;
  height: 480px;
  background: #1c1f2b;
}
.left {
  transform: rotateY(90deg) translateZ(-15px);
}
.right {
  transform: rotateY(90deg) translateZ(285px);
}

.top,
.bottom {
  width: 300px;
  height: 30px;
  background-color: #1c1f2b;
}
.top {
  transform: rotateX(90deg) translateZ(15px);
}
.bottom {
  transform: rotateX(90deg) translateZ(-465px);
}

.carousel {
  display: flex;
  width: 780px;
  height: 100%;
  transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.carousel img {
  width: 260px;
  height: 100%;
  object-fit: cover;
}

.develop__form {
  opacity: 0;
  z-index: 10;
  max-width: 40rem;
  transition: all 1s;
  margin-left: 3rem;

  @media screen and (max-width: 1024px) {
    font-size: 0.8rem;
  }
  @media screen and (max-width: 799px) {
    display: none;
  }
}
.develop__form li {
  color: #e4e4e4;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.hashtag__wrapper {
  display: flex;
  padding-bottom: 2rem;
  justify-content: left;
  column-gap: 1rem;
}
.hashtag__wrapper tag {
  flex-wrap: wrap;
  color: #ebf298;
  border: 2px solid #ebf298;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}
